/*
######################################
                Colors
######################################
*/

* {
    -fx-primary-color: #95CDE7;
    -fx-primary-color-light: #cfe4ed;
    -fx-primary-color-dark: #81bfdb;

    -fx-secondary-color: #41D37C;
    -fx-secondary-color-light: #42d77e;
    -fx-secondary-color-dark: #3abf6b;
}

/*
######################################
                Common
######################################
*/

.root {
    -fx-font-family: 'Inter';
}

.test {
    -fx-font-family: 'Inter';
}

.full-width {
    -fx-min-width: 100%;
}

.full-height {
    -fx-min-height: 100%;

}

.semibold {
    -fx-font-weight: bold;
}

.text-lg {
    -fx-font-size: 15px;
}

/*
alignment
*/

.centered {
    -fx-alignment: center;
}

.right-centered {
    -fx-alignment: center-right;
}

.top-left {
    -fx-alignment: top-left;
}

.bottom-centered {
    -fx-alignment: bottom-center;

}


.sidebar {
    -fx-background-color: #FFFFFF;
}

.transparent {
    -fx-background-color: transparent;

}

.no-focus {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*
#######################################
                Buttons
#######################################
*/

/*
* Primary button
*/

.primary-button {
    -fx-background-color: -fx-primary-color;
}

.primary-button:hover {
    -fx-background-color: -fx-primary-color-light;
    -fx-cursor: hand;
}

.primary-button:pressed {
    -fx-background-color: -fx-primary-color-dark;
    -fx-cursor: hand;
}

/*
Transparent button
*/

.transparent-button {
    -fx-background-color: transparent;
}

.transparent-button:hover {
    -fx-background-color: -fx-primary-color-light;
    -fx-cursor: hand;
}

.transparent-button:pressed {
    -fx-background-color: -fx-primary-color;
}

/*
White button
*/

.white-button {
    -fx-background-color: #FFFFFF;
}

.white-button:hover {
    -fx-background-color: -fx-primary-color-light;
    -fx-cursor: hand;
}

.white-button:pressed {
    -fx-background-color: -fx-primary-color;
}

/*
Secondary button
*/

.secondary-button {
    -fx-background-color: -fx-secondary-color;
}

.secondary-button:hover {
    -fx-background-color: -fx-secondary-color-light;
    -fx-cursor: hand;
}

.secondary-button:pressed {
    -fx-background-color: -fx-secondary-color-dark;
    -fx-cursor: hand;
}

/*
Red button
*/

.red-button {
    /*-fx-background-color: #df2c2c;*/
    -fx-background-color: #FF5555FF;
}

.red-button:hover {
    /*-fx-background-color: #d22020;*/
    -fx-background-color: #dc4747;
    -fx-cursor: hand;
}

.red-button:pressed {
    /*-fx-background-color: #d81e1e;*/
    -fx-background-color: #c53a3a;
    -fx-cursor: hand;
}


/*
############################################
                Input fields
############################################
*/

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: -fx-primary-color-light;
    -fx-border-radius: 5;
    -fx-padding: 10px;
}


.text-field:hover {
    -fx-border-color: -fx-primary-color;
    -fx-cursor: text;
}


.text-field:focused {
    -fx-border-color: -fx-primary-color-dark;
    -fx-cursor: text;
}

.text-field-error {
    -fx-border-color: #df2c2c;
}

.text-field-error:hover {
    -fx-border-color: #df2c2c;
    -fx-cursor: text;
}


.text-field-error:focused {
    -fx-border-color: #df2c2c;
    -fx-cursor: text;
}


/*
#########################################
                Searchbar
#########################################
*/

.search-bar-container {
    -fx-cursor: text;
    -fx-background-color: transparent;
}

.search-bar-container:hover {
    -fx-cursor: text;
}

.search-bar-container:focused {
    -fx-cursor: text;
}

.search-bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
    -fx-border-color: -fx-secondary-color-light;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
    -fx-border-width: 3px;
}

.search-bar:hover {
    -fx-border-color: -fx-secondary-color;
}

.search-bar:focused {
    -fx-border-color: -fx-secondary-color-dark;
}

/*
#####################################
                Icons
#####################################
*/

.icon-no-fill {
    -fx-fill: "none"
}

/*
########################################
                Dropdown
########################################
*/

.combo-box-base {
    -fx-background-color: "transparent"
}

.combo-box-base:hover {
    -fx-background-color: -fx-primary-color-light;
}

.combo-box-base:pressed {
    -fx-background-color: -fx-primary-color;
}


/*
#####################################
                ItemPane
#####################################
*/
.item-pane {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 20;
    -fx-alignment: top-center;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.item-pane:hover {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.item-pane-label {
    -fx-font-size: 25px;
    -fx-padding: 5px;
}

.item-pane-image {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/*
#####################################
                Image
#####################################
*/
.image {
    -fx-font-size: 30px;
    -fx-padding: 10px;
}


/*
###########################################
                List Header
###########################################
*/

.list-header {
    -fx-font-size: 15px;
    -fx-padding: 20px;
}

.list-item {
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-background-color: #eeeeee;
}

.list-item:hover {
    -fx-background-color: -fx-primary-color;
}

.list-item-attribute {
    -fx-min-width: 100px;
    -fx-max-width: 100px;
}

/*
###########################################
                Item banner
###########################################
*/

.banner-title {
    -fx-font-size: 20px;
}

.item-banner {
    -fx-padding: 25px, 0, 0, 0;
}

/*
#####################################
                Popup
#####################################
*/

.popup-background {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;

    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.popup-title {
    -fx-font-size: 20px;
    -fx-padding: 30px;
    -fx-font-weight: bold;
}


/*
###########################################
                Scroll pane
###########################################
*/


.scroll-pane .scroll-bar:vertical {
    -fx-unit-increment: 10;
    -fx-block-increment: 50;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-unit-increment: 5;
    -fx-block-increment: 20;
}

.scroll-pane {
    -fx-border-color: #F5F9FC;
    -fx-padding: 0px;
}


.scroll-pane:focused {
    -fx-border-color: #F5F9FC;
}

/*
#####################################
             ShoppingList
#####################################
*/

.shopping-list {
    -fx-min-width: 800px;
}

.shopping.list-content-container {
    -fx-alignment: center-left;
}

.shopping-list-item-pane {
    -fx-spacing: 5px;
    -fx-alignment: center;
    -fx-background-color: -fx-primary-color-light;
    -fx-border-color: #b0b0b0;
    -fx-border-width: 0 0 1 0;
}

.shopping-list-text {
    -fx-font-size: 20px;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-padding: 10px;
    -fx-wrap-text: true;
    /*-fx-alignment: center;*/
}

.static-label-container {
    /*-fx-padding: 40px;*/
    /*-fx-spacing: 10px;*/
    -fx-alignment: center;
}

.static-label {
    -fx-font-size: 20px;
    -fx-min-width: 150px;
    -fx-max-width: 300px;
    -fx-padding: 30px;
    -fx-alignment: center;
}

.rounded-top {
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: #e7e7e7;
}

.rounded-bottom {
    -fx-background-radius: 0 0 20 20;
    -fx-background-color: #e7e7e7;
}

.clear-button {
    -fx-background-color: #ff5555;
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-background-radius: 90;
}

.clear-button-container {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}