/*
######################################
                Colors
######################################
*/

* {
    -fx-primary-color: #95CDE7;
    -fx-primary-color-light: #cfe4ed;
    -fx-primary-color-dark: #81bfdb;
}

/*
######################################
                Common
######################################
*/

.root {
    -fx-font-family: 'Inter';
}

.test {
    -fx-font-family: 'Inter';
}

.full-width {
    -fx-min-width: 100%;
}

.full-height {
    -fx-min-height: 100%;

}

.semibold {
    -fx-font-weight: bold;
}

.text-lg {
    -fx-font-size: 15px;
}

/*
alignment
*/

.centered {
    -fx-alignment: center;
}

.right-centered {
    -fx-alignment: center-right;
}

.top-left {
    -fx-alignment: top-left;
}

.bottom-centered {
    -fx-alignment: bottom-center;

}


.sidebar {
    -fx-background-color: #FFFFFF;
}

.transparent {
    -fx-background-color: transparent;

}

/*
#######################################
                Buttons
#######################################
*/

/*
* Primary button
*/

.primary-button {
    -fx-background-color: -fx-primary-color;
}

.primary-button:hover {
    -fx-background-color: -fx-primary-color-light;
}

/*
Transparent button
*/

.transparent-button {
    -fx-background-color: transparent;
}

.transparent-button:hover {
    -fx-background-color: -fx-primary-color-light;
}

.transparent-button:pressed {
    -fx-background-color: -fx-primary-color;
}

/*
White button
*/

.white-button {
    -fx-background-color: #FFFFFF;
}

.white-button:hover {
    -fx-background-color: -fx-primary-color-light;
}

.white-button:pressed {
    -fx-background-color: -fx-primary-color;
}


/*
#####################################
                Icons
#####################################
*/

.icon-no-fill {
    -fx-fill: "none"
}

/*
########################################
                Dropdown
########################################
*/

.combo-box-base {
    -fx-background-color: "transparent"
}

.combo-box-base:hover {
    -fx-background-color: -fx-primary-color-light;
}

.combo-box-base:pressed {
    -fx-background-color: -fx-primary-color;
}

/*
#####################################
                ItemPane
#####################################
*/
.item-pane {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 20;
    -fx-alignment: top-center;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.item-pane:hover {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.item-pane-label {
    -fx-font-size: 25px;
    -fx-padding: 5px;
}

.item-pane-image {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/*
#####################################
                Image
#####################################
*/
.image {
    -fx-font-size: 30px;
    -fx-padding: 10px;
}


/*
###########################################
                List Header                
###########################################
*/

.list-header {
    -fx-font-size: 15px;
    -fx-padding: 20px;
}

.list-item {
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-background-color: -fx-primary-color-light;
}

.list-item:hover {
    -fx-background-color: -fx-primary-color;
}