.root {
    -fx-font-family: "Inter";

}

.full-width {
    -fx-min-width: 100%;
}

.full-height {
    -fx-min-height: 100%;

}

.centered {
    -fx-alignment: center;
}

.right-centered {
    -fx-alignment: center-right;
}

.top-left {
    -fx-alignment: top-left;
}

.bottom-centered {
    -fx-alignment: bottom-center;

}


.sidebar {
    -fx-background-color: #FFFFFF;
}

/*
#######################################
                Buttons
#######################################
*/

/*
* Primary button
*/

.primary-button {
    -fx-background-color: #95CDE7;
}

.primary-button:hover {
    -fx-background-color: #cfe4ed;
}

/*
Transparent button
*/

.transparent-button {
    -fx-background-color: transparent;
}

.transparent-button:hover {
    -fx-background-color: #cfe4ed;
}

.transparent-button:pressed {
    -fx-background-color: #81bfdb;
}

/*
White button
*/

.white-button {
    -fx-background-color: #FFFFFF;
}

.white-button:hover {
    -fx-background-color: #cfe4ed;
}

.white-button:pressed {
    -fx-background-color: #81bfdb;
}


/*
#####################################
                Icons
#####################################
*/

.icon-no-fill {
    -fx-fill: "none"
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background: "none";
}

/*
#####################################
                ItemPane
#####################################
*/
.item-pane {
    -fx-background-color: #95CDE7;
    -fx-background-radius: 20;
    -fx-alignment: top-center;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.item-pane:hover {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.item-pane-label {
    -fx-font-size: 25px;
    -fx-padding: 5px;
}

.item-pane-image {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}
/*
#####################################
                Image
#####################################
*/
.image {
    -fx-font-size: 30px;
    -fx-padding: 10px;
}